<div class="row index-item">

  <div class="col-md-1 post-type d-none d-md-block">
    {% include 'icons/blog.liquid' %}
  </div>

  {% if post.data.image %}
    <div class="col-md-5">
      {% assign url = "posts/images/" | append: post.data.image %}
      {% image url post.data.imageAlt "(min-width: 30em) 50vw, 100vw" page %}
    </div>
  {% endif %}

  <div class="col-md-6">
    <a href="{{ post.page.url }}">{{ post.data.title }}</a>
    <p class="meta-date">{{ post.date | date: "%d %b %Y" }}</p>
    <p>{{ post.content | strip_html | truncate: 200 | remove: post.data.title }}</p>
    <p>
      {% for tag in post.data.tags %}
        <a href="/tags/{{ tag }}" class="badge rounded-pill text-bg-primary">{{ tag }}</a>
      {% endfor %}
    </p>
  </div>

</div>