---
layout: base.liquid
title: Home
eleventyExcludeFromCollections: true
---

<div class="alert alert-info alert-ads text-center" role="alert">
  <a href="/ads">Make an advert for us to show at EMF! Click here to learn more.</a>
</div>

<div class="selectionBar text-center">
	<div class="btn-group" role="group" aria-label="Select day" onchange="filterMovies()">
		<input type="radio" class="btn-check" value="all" name="selectDay" id="selectDayAll" autocomplete="off" checked>
		<label class="btn btn-outline-primary" for="selectDayAll">All</label>

		<input type="radio" class="btn-check" value="Thursday" name="selectDay" id="selectDayThurs" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectDayThurs">Thursday</label>

		<input type="radio" class="btn-check" value="Friday" name="selectDay" id="selectDayFri" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectDayFri">Friday</label>

		<input type="radio" class="btn-check" value="Saturday" name="selectDay" id="selectDaySat" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectDaySat">Saturday</label>

		<input type="radio" class="btn-check" value="Sunday" name="selectDay" id="selectDaySun" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectDaySun">Sunday</label>
	</div>

	<div class="btn-group" role="group" aria-label="Select theme" onchange="filterMovies()">
		<input type="radio" class="btn-check" value="all" name="selectTheme" id="selectThemeAll" autocomplete="off" checked>
		<label class="btn btn-outline-primary" for="selectThemeAll">All</label>

		<input type="radio" class="btn-check" value="false" name="selectTheme" id="selectThemeSpace" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectThemeSpace">SPACE!</label>

		<input type="radio" class="btn-check" value="true" name="selectTheme" id="selectThemeNoSpace" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectThemeNoSpace">!SPACE</label>
	</div>

	<div class="btn-group" role="group" aria-label="Basic radio toggle button group" onchange="filterMovies()">
		<input type="radio" class="btn-check" value="all" name="selectSession" id="selectSessionAll" autocomplete="off" checked>
		<label class="btn btn-outline-primary" for="selectSessionAll">All</label>
	
		<input type="radio" class="btn-check" value="am" name="selectSession" id="selectSessionMorning" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectSessionMorning">Morning</label>

		<input type="radio" class="btn-check" value="pm" name="selectSession" id="selectSessionEvening" autocomplete="off">
		<label class="btn btn-outline-primary" for="selectSessionEvening">Evening</label>
	</div>
</div>

<div class="row">

  {%- for film in schedule.films -%}

    {%- if film.display %}

      <div class="col-sm-12 col-md-4 film" name="film" data-slug="{{ film.slug  }}" data-space="{{ film.spaceThemed }}" data-day="{{ film.showing.day }}" data-session="{{ film.showing.session }}">

        <a href="/films/{{ film.slug }}">
          <div class="text-center">
            <h2 class="text-uppercase">{%- if film.slug == "2001" %}<span aria-label="2001: A Space Odyssey">2OO1: A Space Odyssey</span>{% else %}{{ film.title }}{% endif %}</h2>
            <p class="film-time">{{ film.showing.day }} {{ film.showing.text }} <img class="cert" src="src/certs/{{ film.certificate }}.svg" /></p>
						<p class="film-special">{{ film.precis.special }}&nbsp;</p>
          </div>
          <div>
            {% assign url = "../images/" | append: film.image %}
            {% image url "Poster" "(min-width: 30em)" page %}
          </div>
        </a>

      </div>

    {%- endif %}
  {%- endfor -%}

</div>

<script>
	function filterMovies() {
		const day = document.querySelector("input[name=selectDay]:checked").value;
		const theme = document.querySelector("input[name=selectTheme]:checked").value;
		const session = document.querySelector("input[name=selectSession]:checked").value;

		document.getElementsByName("film").forEach(film => {

			film.style.display = "block";
			
			if(
				(day !== "all" && film.getAttribute("data-day") !== day) ||
				(theme !== "all" && film.getAttribute("data-space") === theme) ||
				(session !== "all" && film.getAttribute("data-session") !== session)
			) {
				film.style.display = "none";
			}

		})
	}
</script>